.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.header__logo {
  object-fit: contain;
  height: 40px;
}

.header__icon {
  padding: 3px;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: white;
}
