.swipe__buttons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipe__buttons .MuiIconButton-root {
  background-color: #fff;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
}

.swipe__button_repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipe__button_left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipe__button_star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipe__button_right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.swipe__button_lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}
